body{
  display: flex; /* Makes the body a flex container */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  height: 100vh; /* Makes the body take the full viewport height */
  margin: 0;
  background-color: grey;
}

.all-elements{
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center;
  border: 5px solid orange; /* Add a border to the container */
  border-radius: 30px;
  width: 400px; /* Set the width of the container */
  height: 680px;
  font-size: 1.5rem;
  font-family: monospace;
  background-color: black;
  position: relative; /* Allows for absolute positioning of children */
}

.all-buttons{
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  position: absolute; /* Absolute positioning within the relative parent */
  bottom: 0; /* Align to the bottom of the .all-elements container */
  border: 5px solid ;
  border-radius: 30px;
  width: 390px; /* Set the width of the container */
  height: 450px;
  background-color: black;
  margin-bottom: 0;
}


button {
  text-align: center;
  line-height: 50px;
  width: 70px; 
  height: 25px;
  font-size: 1.5rem;
  border: grey;
  border-radius: 100px;
  padding-bottom: 50px;
  font-family: monospace;
  color: white;
  margin: 12px;
  background-color: grey;
  cursor: pointer;
}

button:hover{
  background-color: rgb(186, 176, 176);
}

.long{
  width: 164px;
  height: 25px;
  border-radius: 100px;
}

.numbers{
  background-color: rgb(92, 88, 88);
}

.funcs{
  background-color: orange;
}

.funcs:hover{
  background-color: rgb(79, 68, 55);
}

.all-elements textarea{
  text-align: right; /* Align text to the right */
  vertical-align: bottom; /* Align text to the bottom */
  display: flex;
  font-size: 2.5rem;
  font-family: monospace;
  position: absolute;
  top: 0;
  border: 2px solid black; /* Add a border to the container */
  border-radius: 30px;
  width: 390px; /* Set the width of the container */
  height: 197px;
  color: white;
  background-color: black;
  box-sizing: border-box; 
  resize: none;
  overflow: hidden;
}
